<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Job Referral</title>
</head>
<body style="font-family: Arial; background-color:#f4f4f4; padding:20px;">
<div style="background:white; padding:20px; border-radius:8px;">
    <h2 style="color:#2c3e50;">New Job Referral</h2>

    <p><strong>Job Title:</strong> {{jobTitle}}</p>
    <p><strong>Job Id:</strong>{{jobOpeningId}}</p>

    <p><strong>Referred By:</strong> {{referredBy}}</p>
    <p><strong>Employee Id:</strong>{{employeeId}}</p>

    <p><strong>Candidate Name:</strong>{{candidateName}}</p>
    <p><strong>Candidate Email:</strong>{{candidateEmail}}</p>
    <p><strong>Candidate Phone Number:</strong>{{candidatePhoneNumber}}</p>
    <p><strong>Find CV URL: </strong></p>
    <a href="{{getCvFileUrl}}" target="_blank"> Find CV URL </a>
    <br>

    <p><i>Regards,<br/>Roima Team</i></p>
</div>
</body>
</html>